
<form method="post" action="{{ path('app_user_nutrition_delete', {'user': user_nutrition.user.getIdu()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_nutrition.user.getIdu()) }}">
    <button class="btn">Delete</button>
</form>
