
{% extends 'base.html.twig' %}

{% block title %}New UserNutrition{% endblock %}


{% block body %}
    <section class="inner-banner inner-bg6">
        <div class="container">
            <div class="inner-title text-center">
                <h3>Add your Information</h3>
                <ul>
                    <li>
                        <a href="{{ path('app_user_nutrition_index') }}">Dashboard</a>
                    </li>
                    <li>New</li>
                </ul>
            </div>
        </div>
    </section>

    {{ include('user_nutrition/_form.html.twig') }}

{% endblock %}
