{% extends 'Welcomebase.html.twig' %}


{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="inner-banner inner-bg9">
		<div class="container">
			<div class="inner-title text-center">
				<h3>Reset password</h3>
				<ul>
					<li>
						<a href="{{ path('Welcome') }}">Home</a>
					</li>
					<li>Reset Password</li>
				</ul>
			</div>
		</div>
	</div>


	<div class="user-area pt-100 pb-70">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="user-all-form">
						<div class="contact-form">
							<p>
								If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
																																																														        This link will expire in
								{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
							</p>
							<p>If you don't receive an email please check your spam folder or
								<a href="{{ path('app_forgot_password_request') }}">try again</a>.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>

    </div>
	{% endblock %}
