{# recettes/_search_results.html.twig #}
{% extends 'base.html.twig' %}
{% if recipes is not empty %}
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.nom }} - {{ recipe.chef }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No recipes found.</p>
{% endif %}