{% extends 'chefbase.html.twig' %}

{% block title %}Edit Recettes{% endblock %}

{% block body %}

<div class="banner-bottom-area pt-100 pb-70">
<div class="container">
<div class="row justify-content-center">

<div class="banner-bottom-card">

  <h1>Edit Recettes</h1>

    {{ include('recettes/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="learn-btn" href="{{ path('indexChef') }}">back to list</a>


</div>
</div>
</div>
</div>


  
    
{% endblock %}
