{% extends 'chefbase.html.twig' %}

{% block title %}New Recettes{% endblock %}

{% block body %}

<div class="inner-banner inner-bg6">
<div class="container">
<div class="inner-title text-center">
<h3>Ajouter une nouvelle recette</h3>
<ul>
<li>
<a href="{{ path('app_recettes_index') }}">Home</a>
</li>
<li>Nouvelle recette</li>
</ul>
</div>
</div>
</div>
<div class="work-area pt-100 pb-70">
<div class="container">
<div class="section-title text-center">
<span></span>
<h2></h2>

</div>
</div>
</div>
    {{ include('recettes/_form.html.twig') }}

     <form action="{{ path('app_recettes_index') }}" method="get">
    <button type="submit">Back to List</button>
</form>
{% endblock %}
