{% extends 'adminBase.html.twig' %}

{% block title %}Recipes Per Category Chart{% endblock %}

{% block body %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <canvas id="recipesPerCategoryChart" width="400" height="300"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('recipesPerCategoryChart').getContext('2d');
        var recipesData = {
            labels: {{ labels|raw }},
            datasets: [{
                data: {{ data|raw }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderWidth: 1
            }]
        };
        var recipesChart = new Chart(ctx, {
            type: 'doughnut',
            data: recipesData,
            options: {
                cutoutPercentage: 60,
                responsive: false
            }
        });
    });
</script>
{% endblock %}
