<form method="post" action="{{ path('app_adresse_delete', {'ida': adresse.ida}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.ida) }}">
    <button class="btn">Delete</button>
</form>
