{% extends 'chefbase.html.twig' %}

{% block title %}New Defis{% endblock %}

{% block body %}
   <h1 class="text-center mb-4">  Créer Defis</h1>

    {{ include('defis/_form.html.twig') }}

    <a href="{{ path('app_defis_index') }}">back to list</a>
{% endblock %}
