{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">  Créer Participation</h1>

    {{ include('defis_controller_user/_form.html.twig') }}

   
{% endblock %}
