{% extends 'base.html.twig' %}

{% block title %}Edit Reprandre{% endblock %}

{% block body %}
    <h1>Edit Reprandre</h1>

    {{ include('reprandre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reprandre_index') }}">back to list</a>

    {{ include('reprandre/_delete_form.html.twig') }}
{% endblock %}
