{% extends app.user.role == 'Chef' ? 'chefbase.html.twig' : 'base.html.twig' %}

{% block title %}Yumlink: Blog
{% endblock %}

{% block body %}
<div class="inner-banner inner-bg7">
		<div class="container">
			<div class="inner-title text-center">
				<h3>Blogs</h3>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>

				</div>

			</div>
		</div>
	<div class="blog-widget-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row justify-content-center">
						<div class="row pt-45 justify-content-center">
							{% for article in articles %}
								{% include 'article/post_item.html.twig' with {'article': article} %}
							{% endfor %}
						</div>
					</div>
					{% if pagination == 'on' %}
						<div class="navigation">
							{{ knp_pagination_render(articles) }}
						</div>
					{% endif %}
				</div>
				<div class="col-lg-4">
					<div class="side-bar-area pl-20">
						<div class="search-widget">
							<form class="search-form">
								<input type="search" class="form-control" placeholder="Search...">
								<button type="submit">
									<i class="bx bx-search"></i>
								</button>
							</form>
						</div>
						<div class="side-bar-widget">
							<h3 class="title">Recent Post</h3>
							<div class="widget-popular-post">
								{% for article in articlesSide %}
									{% include 'article/sidePost_item.html.twig' with {'article': article} %}
								{% endfor %}
							</div>
						</div>
						<div class="side-bar-widget">
							<h3 class="title-tag">Popular Tags</h3>
							<ul class="side-bar-widget-tag">
								{% for tag in tagsSide %}
									<li>
										<a href="{{ path('app_article_blog', {'id_chef': 'default', 'id_tag': tag.tagId}) }}" target="_blank">{{ tag.tagValue }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
